[alias]
  who = "!echo ; echo \"working as:\" ; echo \"\\t   `git config user.name`\" ; echo \"\\t   `git config user.email`\" ; echo"
  what = "!git who ; git diff"
  st = status
  d = diff
  ci = commit -v
  cia = commit -v -a
  co = checkout
  cp = cherry-pick
  l = log
  ll = log -p
  lt = log trunk..
  llt = log -p trunk..
  lm = log master..
  llm = log -p master..
  b = branch
  up = pull
  rmb = !sh -c '(git branch -D $1 || test 1) && git push origin :$1' -
  parent-update = "!git fetch parent && git rebase parent/master"
  consume = !sh -c 'git merge $1 && git rmb $1' -
  hco = "!~/bin/git-hub-commit"
[user]
	name = Eirik Dentz Sinclair
	email = eirikdentz@gmail.com
[github]
   user=edsinclair
   token=cab8bf10f8af4c82a8f9f5e52c640e0b
[git-pair]
	email = pair@zendesk.com
	authors = Eirik Dentz Sinclair <edsinclair@zendesk.com>
	authors = Michael Grosser <mgrosser@zendesk.com>
[pager]
  color = true
[core]
	editor = mvim --nofork
	excludesfile = /Users/esinclair/.globalignore
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[branch]
  autosetuprebase = always # rebase when pulling
[format]
  pretty = full
