pow_ruby_debug.rb
/.CFUserTextEncoding
/.DS_Store
/.NERDTreeBookmarks
/.Trash
/.cache
/.dropbox
/.gem
/.guard_history
/.gvimrc
/.irb_history
/.mysql_history
/.oh-my-zsh
/.rbenv
/.rbfu
/.rdebug_hist
/.ssh
/.tddium
/.vim
/.viminfo
/.vimrc
/.zcompdump
/.zsh-update
/.zsh_history
/Desktop/*
/Documents/*
/Downloads/*
/Dropbox/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Ruby Screencasts
/Public/*
/github/*
