[alias]
  who = "!echo ; echo \"working as:\" ; echo \"\\t   `git config user.name`\" ; echo \"\\t   `git config user.email`\" ; echo"
  what = "!git who ; git diff"
  st = status
  d = diff
  ci = commit -v
  cia = commit -v -a
  co = checkout
  cp = cherry-pick
  l = log
  ll = log -p
  lt = log trunk..
  llt = log -p trunk..
  lm = log master..
  llm = log -p master..
  b = branch
  up = pull
  pick-all = !sh -c 'git co staging && git cp $1 && git up && git push && git co production && git cp $1 && git up && git push && git co master && git b -D staging && git b -D production' -
  rmb = !sh -c '(git branch -D $1 || test 1) && git push origin :$1' -
  parent-update = "!git fetch parent && git rebase parent/master"
  consume = !sh -c 'git merge $1 && git rmb $1' -
  hco = "!~/bin/git-hub-commit"
[user]
	name = Eirik Dentz Sinclair
	email = eirikdentz@gmail.com
[github]
   user=edsinclair
   token=cab8bf10f8af4c82a8f9f5e52c640e0b
[git-pair]
	email = @essess.com
	authors = Michael Grosser <mgrosser@zendesk.com>
	authors = David Turner <dturner@palominodb.com>
	authors = Jonathan Cheatham <jcheatham@zendesk.com>
	authors = Igor Justino <igor@zendesk.com>
	authors = Victor Kmita <vkmita@zendesk.com>
	authors = prudhvi dhulipalla <pchaitanya@zendesk.com>
	authors = Eirik Dentz Sinclair <eirik@essess.com>
	authors = Jonathan Lefman <jonathan.lefman@essess.com>
	authors = Jonathan Jesneck <jonathan.jesneck@essess.com>
	authors = Dustin Collins <dustin.collins@essess.com>
	authors = Alex Makkaveyev <alex.makkaveyev@essess.com>
	authors = Matt Barry <matt.barry@essess.com>
	authors = Josh Schrade <josh.schrade@essess.com>
[pager]
  color = true
[core]
	editor = mvim --nofork
	excludesfile = ~/.globalignore
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[branch]
  autosetuprebase = always # rebase when pulling
[format]
  pretty = fuller
[hub]
	protocol = ssh
