pow_ruby_debug.rb
/.CFUserTextEncoding
/.NERDTreeBookmarks
/.Trash
/.atom
/.aws
/.bash_history
/.bash_logout
/.bashrc
/.berkshelf
/.boot2docker
/.bundle
/.byebug_hist
/.cache
/.chef
/.chefdk
/.chef.d
/.cocoapods
/.config
/.cups
/.dbshell
/.docker
/.dropbox
/.dropbox-master
/.dvm
/.dvdcss
/.exercism
/.flexlmrc
/.gem
/Gemfile.lock
/.gnupg
/.gist-vim
/.guard_history
/.heroku
/.hex
# For now....
/.ipython
/.irb_history
/.janus
/.lein
/.lesshst
/.m2
/.matplotlib
/.mix
/.mongorc.js
/.mysql_history
/.node-gyp
/.npm
/.nx
/.netrc
/.nvm
/.oh-my-zsh
/.pip/*
/.postgresql
/.profile
/.pry_history
/.psql_history
/.pt
/.pylint.d
/.pypirc
/.qgis2
/.qt
/.rbenv
/.rbfu
/.rbx
/.rdebug_hist
/.rnd
/.rubies
/.ruby-version
/.ruco
/.ssh
/.subversion
/.tddium
/.travis
/.vagrant.d
/.vim
/.viminfo
/.zcompdump*
/.zsh-update
/.zsh_history
/Applications/*
/Desktop/*
/Documents/*
/Downloads/*
/Dropbox/*
/Google\ Drive/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Ruby Screencasts
/Public/*
/VirtualBox VMs/*
/VMware VMs/*
/.virtualenvs
/bin/BrowserStackLocal
/github/*
/src/*
